.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-json-input {
  width: 500px;
  height: 100px;
}

.box-with-outline {
  border: 2px solid gray;
  padding: 10px;
  width: fit-content;
}

.time-display {
  color: #0000FF;
}

.entry-value {
  color: #28a745;
  margin-left: 8px; /* Only applies when there IS an entry-name */
  font-style: italic;
}


